---
# Only the main Sass file needs front matter (the dashes are enough)
---

$background-color: #000b00; /* my fav dark green */
$text-color: #ddccbe;
$grey-color-light: #565656; /* for the border-top separators */
$grey-color-dark: #adadad; /* such as the site title in the header, visited */

@import "{{ site.theme }}";

.highlighter-rouge .highlight { 
	background: black;
}

pre {
    background-color: black;
}

.highlight .err {
    background-color: black;
    color: #d06b6b;
}

.highlight .nt {
    color: #7f7fe8;
}

code {  
    background-color: black; 
    font-family: "Lucida Console", Courier, monospace;
}

// table tr:nth-child(even) { 
//     background-color: #000b00; 
// }

body {
    font-family: sans-serif;
    // background-color: #000b00;
}

h1 {
    // font-size: xx-large;
    font-weight: bold;
}

.trigger {
    display: block;
    width: 80%;
    wrap: 1;
}

// h2 {
//     font-size: xx-large;
// }
